html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat';
  font-size: 1.6rem;
}

#hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20%;
  padding-top: 10%;
  padding-bottom: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  background-image: url("../img/stock-conference-1.jpg");
  background-size: cover;
  background-position: bottom;
  color: white;
}

#hero-section h1 {
  font-size: 9rem;
  font-weight: 600;
}

#hero-section .content {
  width: 40%;
}

#hero-section p.dates {
  font-size: 5rem;
}

#speakers-section {
  background-color: #c9d1de;
  padding-top: 10rem;
}

#speakers-section .container {
  padding: 15rem 0rem -10rem 0rem;
}

#speakers-section .container h1 {
  font-weight: 500;
  margin-bottom: 5rem;
}

#speakers-section .container div.speaker-card {
  position: relative;
  padding: 3rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#speakers-section .container div.speaker-card:hover::after {
  left: 0;
  bottom: 0;
}

#speakers-section .container div.speaker-card:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#speakers-section .container div.speaker-card::after {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: -1.5rem;
  bottom: -1.5rem;
  border: #9013fe 2px solid;
}

#speakers-section .container div.speaker-card:not(:last-child) {
  margin-bottom: 5rem;
}

#speakers-section .container div.speaker-card img {
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  max-width: 100%;
}

#speakers-section .container div.speaker-card .speaker-details {
  padding: 5%;
}

#speakers-section .container div.speaker-card .speaker-details .speaker-name {
  font-weight: 500;
  font-size: 6rem;
}

#speakers-section .container div.speaker-card .speaker-details .speaker-title {
  color: #919191;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

#speakers-section .container div.speaker-card .speaker-details .speaker-description {
  color: darkgray;
}

#agenda-section {
  background-color: #0c1d39;
  margin-top: -10rem;
  color: white;
  padding: 22rem 0rem 24rem 0rem;
}

#agenda-section .det-row {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
}

#agenda-section .det-row:not(:last-child) {
  border-bottom: 2px solid rgba(211, 211, 211, 0.259);
}

#agenda-section .det-row .time {
  font-size: 3.5rem;
  text-align: right;
  font-weight: 700;
  padding-right: 5rem;
}

#agenda-section .det-row .det {
  color: lightgray;
  padding-left: 3rem;
  position: relative;
}

#agenda-section .det-row .det::after {
  color: rgba(211, 211, 211, 0.259);
  content: '';
  border-right: 2px solid rgba(211, 211, 211, 0.259);
  position: absolute;
  left: -2rem;
  height: 100%;
  width: 3px;
  bottom: 0;
}

#summary {
  z-index: 5;
  position: relative;
  margin: -16rem 0rem -16rem 0rem;
}

#summary .container {
  background-color: white;
  padding: 2rem 5rem;
}

#summary .container .summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#summary .container .summary div.divider {
  width: 3px;
  border-right: 2px solid #9013fe;
  height: 14rem;
}

#summary .container .summary div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#summary .container .summary div .number {
  font-size: 10rem;
}

#summary .container .summary div .title {
  color: #919191;
  font-size: 3rem;
}

#location {
  height: 80vh;
  position: relative;
  background-color: #c9d1de;
  z-index: 3;
}

#location div.img-div {
  background-image: url("../img/BuildingImg.webp");
  background-position: center;
  background-size: cover;
}

#location .inner {
  padding: 15rem;
}

#location .inner p {
  display: block;
}

#location .inner .address {
  margin-top: 3rem;
  font-size: 2.5rem;
  color: #4d4d4d;
  margin-bottom: 3rem;
}

.pf {
  font-family: 'Playfair Display';
}

.btn.btn-cta {
  padding: 1rem 2rem;
  font-size: 3rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

div.padding {
  height: 100vh;
}
