// OG Colors: primary: 9013fe, secondary:  rgb(12, 29, 57)

// LEAPS COLOR Blue: 00A3E0
//  LEAPS Blue secondary: 00212d

$color-primary: #00a3e0;
// $color-primary: #9013fe;
$color-bg-light: #c9d1de;
// $color-secondary: rgb(12, 29, 57);
$color-secondary: #00212d;
$color-dark: #4d4d4d;
$color-light: #919191;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

.ipWidget p {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat';
  font-size: 1.6rem;
}

#navbar {
  color: white;
  padding: 2rem 2rem;
  font-size: 2rem;
  font-weight: 500;

  .navbar-brand {
    font-weight: 600;
    font-size: 4rem;
  }
  a {
    text-decoration: none;
    transition: all 0.2s;
    color: unset;
    &:hover {
      color: $color-primary;
    }
  }

  .navbar-nav {
    .nav-item {
      margin-right: 2rem;
    }
  }
}

#social-floater {
  z-index: 999;
  position: fixed;
  right: 5rem;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  color: white;

  &.icons {
    // margin-bottom: 1rem;
    font-size: 3rem;
    // align-self: flex-end;

    a {
      // margin: 0rem 1rem;
      text-decoration: none;
      color: unset;
      transition: all 0.2s;
      &:hover {
        color: $color-primary;
      }
    }
  }
}

#hero-section {
  display: flex;
  padding-left: 20%;
  padding-top: 10%;
  padding-bottom: 10%;
  align-items: center;
  height: 80vh;
  background-image: url('../img/stock-conference-2.png');
  background-size: cover;
  background-position: bottom;
  color: white;

  h1 {
    font-size: 9rem;
    font-weight: 600;
  }

  .content {
    width: 40%;
    p {
      font-size: 2rem;
      text-shadow: -1px 3px 2px black;
    }
  }

  p.dates {
    font-size: 5rem;
  }
}

#definition-section {
  background-color: $color-secondary;
  color: white;
  padding: 15rem 0rem 30rem 1rem;

  .sub-heading {
    font-size: 2rem;
    // font-weight: bold;
    color: $color-bg-light;
  }

  .main {
    font-size: 10rem;
    margin-bottom: 2rem;
  }

  .sub-def {
    font-size: 3rem;
    font-weight: bold;
    color: $color-bg-light;
    margin-bottom: 3rem;
  }

  ul.defs {
    font-size: 2rem;
    li {
      margin-bottom: 1.5rem;
    }
  }
}

#summary {
  z-index: 5;
  position: relative;
  margin: -15rem 0rem -13rem 0rem;
  .container {
    background-color: white;
    padding: 5rem 5rem;

    .summary {
      display: flex;
      justify-content: space-around;
      align-items: center;

      div.divider {
        width: 3px;
        border-right: 2px solid $color-primary;
        height: 14rem;
      }

      div {
        display: flex;
        flex-direction: column;
        // align-items: center;
        .number {
          font-size: 8rem;
          // color: $color-primary;
          a {
            text-decoration: none;
            color: unset;
            transition: all 0.3s;
            &:hover {
              color: $color-primary;
            }
          }
        }

        .title {
          color: $color-light;
          font-size: 2rem;
        }
      }
    }
  }
}

#location {
  height: 80vh;
  position: relative;
  background-color: $color-bg-light;
  z-index: 3;
  div.img-div {
    background-image: url('../img/student_union_bw.png');
    background-position: center;
    background-size: cover;
  }

  img.maps-google {
    height: 8rem;
  }

  .inner {
    padding: 15rem;
    p {
      display: block;
    }

    .address {
      margin-top: 3rem;
      font-size: 2.5rem;
      // font-weight: ;
      color: $color-dark;
      margin-bottom: 3rem;
    }

    .detailed {
      font-weight: 500;
      font-size: 1.8rem;
    }
  }
}

#logistics-section {
  background-color: $color-secondary;
  .container {
    color: white;
  }
  // color: white;
  padding-top: 13rem;
  padding-bottom: 30rem;
  .container-inner {
    color: unset;
    padding: 0rem 12vw !important;
    h1 {
      font-weight: 500;
      margin-bottom: 5rem;
    }

    div.speaker-card {
      position: relative;
      height: 100%;

      &:hover {
        &::after {
          left: 0;
          bottom: 0;
        }

        img {
          transform: scale(1.1);
        }
      }

      &::after {
        transition: all 0.2s;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: -1.5rem;
        bottom: -1.5rem;
        border: $color-primary 2px solid;
      }

      padding: 3rem;
      background-color: white;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 5rem;
      }

      img {
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        max-width: 100%;
      }

      .speaker-details {
        padding: 5%;
        .speaker-name {
          font-weight: 500;
          font-size: 6rem;
        }
        .speaker-title {
          color: $color-light;
          font-size: 2.5rem;
          font-weight: 400;
          margin-bottom: 2rem;
        }
        .speaker-description {
          // color: darkgray;
        }
      }
    }
  }
}

#sponsors {
  background-color: $color-bg-light;
  padding: 15rem 0rem 30rem 0rem;
  img.logo-onr {
    height: 12rem;
    // margin-right: 5rem;
  }
  div.inner {
    display: flex;
    align-items: center;
    gap: 8rem;
  }
  img {
    height: 15rem;
  }
}

#register {
  z-index: 5;
  position: relative;
  margin: -14rem 0rem -16rem 0rem;
  color: white;
  .container {
    background-color: $color-primary;
    padding: 5rem 5rem;

    .summary {
      display: flex;
      justify-content: space-around;
      align-items: center;

      // div.divider {
      //   width: 3px;
      //   // border-right: 2px solid white;
      //   height: 14rem;
      // }

      div {
        display: flex;
        flex-direction: column;
        // align-items: center;
        .number {
          font-size: 8rem;
          // color: $color-primary;
          a {
            text-decoration: none;
            color: unset;
          }
        }

        .title {
          // color: $color-light;
          font-size: 2rem;
        }
      }
    }
  }
}

#leaps {
  background-color: $color-secondary;
  padding-top: 10rem;

  .container {
    color: white;
    padding-top: 18rem;
    padding-bottom: 5rem;

    a.git {
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }

    a {
      text-decoration: none;
      color: unset;

      &:hover {
        // color: $color-primary;
      }
    }

    p {
      color: $color-bg-light;
    }

    h2 {
      font-weight: 500;
      font-size: 4rem;
      // border-bottom: $color-primary 2px solid;
    }
    hr {
      border-top: 1px solid $color-light;
    }

    .icons {
      margin-bottom: 1rem;
      font-size: 3rem;
      align-self: flex-end;

      a {
        margin: 0rem 1rem;
        transition: all 0.2s;
        &:hover {
          color: $color-primary;
        }
      }
    }
  }
  img {
    width: 100%;
  }
}

.pf {
  font-family: 'Playfair Display';
}

.btn.btn-cta {
  padding: 1rem 2rem;
  font-size: 3rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

div.padding {
  height: 100vh;
}
