// $color-primary: #3d49b8;
$color-primary: #9013fe;
$color-bg-light: #c9d1de;
$color-secondary: rgb(12, 29, 57);
$color-dark: #4d4d4d;
$color-light: #919191;

* {
  margin: 0;
  padding: 0;
}

.ipWidget p {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat';
  font-size: 1.6rem;
}

#hero-section {
  display: flex;
  padding-left: 20%;
  padding-top: 10%;
  padding-bottom: 10%;
  align-items: center;
  height: 80vh;
  background-image: url('../img/stock-conference-1.jpg');
  background-size: cover;
  background-position: bottom;
  color: white;

  h1 {
    font-size: 9rem;
    font-weight: 600;
  }

  .content {
    width: 40%;
  }

  p.dates {
    font-size: 5rem;
  }
}

#speakers-section {
  background-color: $color-bg-light;
  padding-top: 10rem;
  .container {
    padding: 15rem 0rem -10rem 0rem;
    h1 {
      font-weight: 500;
      margin-bottom: 5rem;
    }

    div.speaker-card {
      position: relative;

      &:hover {
        &::after {
          left: 0;
          bottom: 0;
        }

        img {
          transform: scale(1.1);
        }
      }

      &::after {
        transition: all 0.2s;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: -1.5rem;
        bottom: -1.5rem;
        border: $color-primary 2px solid;
      }

      padding: 3rem;
      background-color: white;
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 5rem;
      }

      img {
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        max-width: 100%;
      }

      .speaker-details {
        padding: 5%;
        .speaker-name {
          font-weight: 500;
          font-size: 6rem;
        }
        .speaker-title {
          color: $color-light;
          font-size: 2.5rem;
          font-weight: 400;
          margin-bottom: 2rem;
        }
        .speaker-description {
          color: darkgray;
        }
      }
    }
  }
}
#definition-section {
  background-color: $color-secondary;
  color: white;
  padding: 22rem 0rem 24rem 1rem;
}

#agenda-section {
  background-color: $color-secondary;
  margin-top: -10rem;
  color: white;
  padding: 22rem 0rem 24rem 0rem;

  .det-row {
    &:hover {
      background-color: rgba(255, 255, 255, 0.059);
    }

    &:not(:last-child) {
      border-bottom: 2px solid rgba(211, 211, 211, 0.259);
    }
    font-size: 3rem;
    background-color: transparent;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    // margin-bottom: 3rem;
    padding: 4rem;
    .time {
      font-size: 3.5rem;

      text-align: right;
      font-weight: 700;
      padding-right: 5rem;
      // border-right: 3px solid rgba(211, 211, 211, 0.466);
    }
    .det {
      color: lightgray;
      padding-left: 3rem;
      position: relative;

      &::after {
        color: rgba(211, 211, 211, 0.259);
        content: '';
        border-right: 2px solid rgba(211, 211, 211, 0.259);
        position: absolute;
        left: -2rem;
        height: 100%;
        width: 3px;
        bottom: 0;
      }
    }
  }
}

#summary {
  z-index: 5;
  position: relative;
  margin: -16rem 0rem -16rem 0rem;
  .container {
    background-color: white;
    padding: 2rem 5rem;

    .summary {
      display: flex;
      justify-content: space-around;
      align-items: center;

      div.divider {
        width: 3px;
        border-right: 2px solid $color-primary;
        height: 14rem;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        .number {
          font-size: 10rem;
        }

        .title {
          color: $color-light;
          font-size: 3rem;
        }
      }
    }
  }
}

#location {
  height: 80vh;
  position: relative;
  background-color: $color-bg-light;
  z-index: 3;
  div.img-div {
    background-image: url('../img/BuildingImg.webp');
    background-position: center;
    background-size: cover;
  }

  .inner {
    padding: 15rem;
    p {
      display: block;
    }

    .address {
      margin-top: 3rem;
      font-size: 2.5rem;
      color: $color-dark;
      margin-bottom: 3rem;
    }
  }
}

#sponsors {
  background-color: $color-primary;
  padding: 10rem 0rem;
  color: white;
}

.pf {
  font-family: 'Playfair Display';
}

.btn.btn-cta {
  padding: 1rem 2rem;
  font-size: 3rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

div.padding {
  height: 100vh;
}
