* {
  margin: 0;
  padding: 0;
}

.ipWidget p {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat";
  font-size: 1.6rem;
}

#hero-section {
  display: flex;
  padding-left: 20%;
  padding-top: 10%;
  padding-bottom: 10%;
  align-items: center;
  height: 80vh;
  background-image: url("../img/stock-conference-1.jpg");
  background-size: cover;
  background-position: bottom;
  color: white;
}
#hero-section h1 {
  font-size: 9rem;
  font-weight: 600;
}
#hero-section .content {
  width: 40%;
}
#hero-section p.dates {
  font-size: 5rem;
}

#definition-section {
  background-color: rgb(12, 29, 57);
  color: white;
  padding: 15rem 0rem 30rem 1rem;
}
#definition-section .sub-heading {
  font-size: 2rem;
  color: #c9d1de;
}
#definition-section .main {
  font-size: 10rem;
  margin-bottom: 2rem;
}
#definition-section .sub-def {
  font-size: 3rem;
  font-weight: bold;
  color: #c9d1de;
  margin-bottom: 3rem;
}
#definition-section ul.defs {
  font-size: 2rem;
}
#definition-section ul.defs li {
  margin-bottom: 1.5rem;
}

#agenda-section {
  background-color: rgb(12, 29, 57);
  margin-top: -10rem;
  color: white;
  padding: 22rem 0rem 24rem 0rem;
}
#agenda-section .det-row {
  font-size: 3rem;
  background-color: transparent;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  padding: 4rem;
}
#agenda-section .det-row:hover {
  background-color: rgba(255, 255, 255, 0.059);
}
#agenda-section .det-row:not(:last-child) {
  border-bottom: 2px solid rgba(211, 211, 211, 0.259);
}
#agenda-section .det-row .time {
  font-size: 3.5rem;
  text-align: right;
  font-weight: 700;
  padding-right: 5rem;
}
#agenda-section .det-row .det {
  color: lightgray;
  padding-left: 3rem;
  position: relative;
}
#agenda-section .det-row .det::after {
  color: rgba(211, 211, 211, 0.259);
  content: "";
  border-right: 2px solid rgba(211, 211, 211, 0.259);
  position: absolute;
  left: -2rem;
  height: 100%;
  width: 3px;
  bottom: 0;
}

#summary {
  z-index: 5;
  position: relative;
  margin: -15rem 0rem -13rem 0rem;
}
#summary .container {
  background-color: white;
  padding: 5rem 5rem;
}
#summary .container .summary {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#summary .container .summary div.divider {
  width: 3px;
  border-right: 2px solid #9013fe;
  height: 14rem;
}
#summary .container .summary div {
  display: flex;
  flex-direction: column;
}
#summary .container .summary div .number {
  font-size: 8rem;
}
#summary .container .summary div .number a {
  text-decoration: none;
  color: unset;
}
#summary .container .summary div .title {
  color: #919191;
  font-size: 2rem;
}

#location {
  height: 80vh;
  position: relative;
  background-color: #c9d1de;
  z-index: 3;
}
#location div.img-div {
  background-image: url("../img/BuildingImg.webp");
  background-position: center;
  background-size: cover;
}
#location .inner {
  padding: 15rem;
}
#location .inner p {
  display: block;
}
#location .inner .address {
  margin-top: 3rem;
  font-size: 2.5rem;
  color: #4d4d4d;
  margin-bottom: 3rem;
}

#sponsors {
  background-color: rgb(12, 29, 57);
  padding: 10rem 0rem 15rem 0rem;
  color: white;
}
#sponsors div.inner {
  display: flex;
  gap: 3rem;
}
#sponsors img {
  height: 15rem;
}

#logistics-section {
  background-color: #c9d1de;
  padding-top: 10rem;
  padding-bottom: 30rem;
}
#logistics-section .container-inner {
  padding: 0rem 12vw !important;
}
#logistics-section .container-inner h1 {
  font-weight: 500;
  margin-bottom: 5rem;
}
#logistics-section .container-inner div.speaker-card {
  position: relative;
  height: 100%;
  padding: 3rem;
  background-color: white;
  display: flex;
  align-items: center;
}
#logistics-section .container-inner div.speaker-card:hover::after {
  left: 0;
  bottom: 0;
}
#logistics-section .container-inner div.speaker-card:hover img {
  transform: scale(1.1);
}
#logistics-section .container-inner div.speaker-card::after {
  transition: all 0.2s;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: -1.5rem;
  bottom: -1.5rem;
  border: #9013fe 2px solid;
}
#logistics-section .container-inner div.speaker-card:not(:last-child) {
  margin-bottom: 5rem;
}
#logistics-section .container-inner div.speaker-card img {
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  max-width: 100%;
}
#logistics-section .container-inner div.speaker-card .speaker-details {
  padding: 5%;
}
#logistics-section .container-inner div.speaker-card .speaker-details .speaker-name {
  font-weight: 500;
  font-size: 6rem;
}
#logistics-section .container-inner div.speaker-card .speaker-details .speaker-title {
  color: #919191;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
#register {
  z-index: 5;
  position: relative;
  margin: -14rem 0rem -16rem 0rem;
  color: white;
}
#register .container {
  background-color: #9013fe;
  padding: 5rem 5rem;
}
#register .container .summary {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#register .container .summary div {
  display: flex;
  flex-direction: column;
}
#register .container .summary div .number {
  font-size: 8rem;
}
#register .container .summary div .number a {
  text-decoration: none;
  color: unset;
}
#register .container .summary div .title {
  font-size: 2rem;
}

#leaps {
  background-color: rgb(12, 29, 57);
  padding-top: 10rem;
}
#leaps .container {
  color: white;
  padding-top: 18rem;
  padding-bottom: 5rem;
}
#leaps .container a.git {
  text-decoration: underline;
}
#leaps .container a {
  text-decoration: none;
  color: unset;
}
#leaps .container p {
  color: #c9d1de;
}
#leaps .container h2 {
  font-weight: 500;
  font-size: 4rem;
}
#leaps .container hr {
  border-top: 1px solid #919191;
}
#leaps .container .icons {
  margin-bottom: 1rem;
  font-size: 3rem;
  align-self: flex-end;
}
#leaps .container .icons a {
  margin: 0rem 1rem;
  transition: all 0.2s;
}
#leaps .container .icons a:hover {
  color: #9013fe;
}
#leaps img {
  width: 100%;
}

.pf {
  font-family: "Playfair Display";
}

.btn.btn-cta {
  padding: 1rem 2rem;
  font-size: 3rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

div.padding {
  height: 100vh;
}